<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
</head>
<body>
<h1>Add Project</h1>
<form th:action="@{/admin/addProject}" th:object="${projectDTO}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br />
    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" th:field="*{startDate}" /><br />
    <div class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" th:field="*{endDate}" /><br />
    <div class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>

    <label for="location">Location:</label>
    <input type="text" id="location" th:field="*{endDate}" /><br />
    <div class="text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>

    <button type="submit">Add Project</button>
</form>
</body>
</html>