<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
</head>
<body>
<h1>Add Project</h1>
<form th:action="@{/admin/addProject}" th:object="${projectDTO}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br />

    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}"></textarea><br />

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" th:field="*{startDate}" /><br />

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" th:field="*{endDate}" /><br />

    <button type="submit">Add Project</button>
</form>
</body>
</html>