<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Musician Status</title>
</head>
<body>
<h1>Musician Status for Project: <span th:text="${project.name}"></span></h1>

<h2>Project members</h2>
<ul th:if="${not projectMembersByInstrument.isEmpty()}">
    <li th:each="instrument : ${projectMembersByInstrument.keySet()}">
        <div>
            <h2><span th:text="${instrument.getDisplayName()}"></span></h2>
            <ul>
                <li th:each="musician : ${projectMembersByInstrument.get(instrument)}"
                    th:text="${musician.firstName} + ' ' + ${musician.lastName}">
                </li>
            </ul>
        </div>
    </li>
</ul>
<p th:if="${projectMembersByInstrument.isEmpty()}">No musicians have accepted yet.</p>

<h2>Pending invitations</h2>
<ul th:if="${not pendingMusicians.isEmpty()}">
    <li th:each="musician : ${pendingMusicians}" th:text="${musician.firstName} + ' ' + ${musician.lastName}"></li>
</ul>
<p th:if="${pendingMusicians.isEmpty()}">No musicians have pending invitations.</p>

<h2>Musicians who rejected</h2>
<ul th:if="${not refusedMusicians.isEmpty()}">
    <li th:each="musician : ${refusedMusicians}" th:text="${musician.firstName} + ' ' + ${musician.lastName}"></li>
</ul>
<p th:if="${refusedMusicians.isEmpty()}">No musicians have refused yet.</p>
</body>
</html>