<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archived projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css">
</head>
<body class="container py-5">
<div class="d-flex justify-content-end mb-4">
    <a th:href="@{/musicianPage}" class="btn btn-outline-secondary me-2"><i class="bi bi-arrow-left-circle-fill"></i> Back to home</a>
    <a th:href="@{/logout}" class="btn btn-outline-secondary"><i class="bi bi-box-arrow-right"></i> Log out</a>
</div>

<h2>Archived projects</h2>

<table class="table table-striped shadow-sm">
    <thead>
    <tr>
        <th>Project name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${archivedAcceptedProjects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.startDate}"></td>
        <td th:text="${project.endDate}"></td>
        <td>
            <a th:href="@{/project/{id}(id=${project.id})}" class="btn btn-primary btn-sm"><i
                    class="bi bi-eye-fill me-1"></i> View</a>
        </td>
    </tr>
    <tr th:each="project : ${archivedRejectedProjects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.startDate}"></td>
        <td th:text="${project.endDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>